{% extends 'main.html' %}


{% block content %}
  <!-- Main Section -->
  <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><i class="im im-angle-left"></i></a>
        <h2 class="message__subject">{{messageCom.subject}}</h4>
          <p class="message__author">{{messageCom.name}}</p>
          <p class="message__date">{{messageCom.created}}</p>
          <div class="message__body">
            {{messageCom.body|linebreaksbr}}
          </div>
      </div>
    </div>
  </main>


  {% endblock %}